<!DOCTYPE html>
<html>
  <head>
    <style>
      html, body {
        height: 100%;
      }
      body {
        font-family: Arial;
        font-size: 100pt;
        text-align: center;
        max-width: 1000px;
        margin: 0 auto;
        background: linear-gradient(blue, red);
        color: white;
      }
    </style>
  </head>

  <body>
    Hello.  The temperature is <%= temperature %>&deg;C.
    It's time for some <%= food %>.
  </body>
</html>
