html{
	background-image: url("HomeBackground.png");
	background-size: 100%;
}

body{
	/*padding-top: 100px;*/
}

section.section1{
	padding-top:50px;
}

#resultscontainer{
	padding: 50px;
}

#section2{
	display: none;
}

#loadingState{
	display: none;
}

#colLeft{
	background-color: Transparent;
    background-repeat:no-repeat;
    border: 2px solid white;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#colMiddle{
	background-color: green;
}

#colRight{
	background-color: Transparent;
    background-repeat:no-repeat;
    border: 2px solid white;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

h1.titleFirstPage{
	font-family: "Helveica", Arial, sans-serif;
	text-align: center;
	color: white;
}

h1.titleSecondPage{
	font-family: "Helveica", Arial, sans-serif;
	font-size: 40px;
	text-align: center;
	color: white;
}
h2{
	text-align: center;
	font-family: "Helveica", Arial, sans-serif;
	font-size: 18px;
	color: white;	
}
h3{
	text-align: center;
	font-family: "Helveica", Arial, sans-serif;
	font-size: 45px;
	color: white;
}

p{
	text-align: center;
	font-family: "Helveica", Arial, sans-serif;
	color: white;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#searchButton{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 2px solid white;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#returnButton{
	background-color: Transparent;
    background-repeat:no-repeat;
    border: 2px solid white;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}	
}

p.centeredText{
	text-align: center;
	color: white;
}

#logo{
	padding-left: 20px;
	padding-top: 20px;
	width:250px;
	height:50px;
}
#loadingStateLogo{
	padding-left: 30px;
	width:150px;
	height:55px;
}
#pad{
	padding-top: 100px;
}

