html{
	background-image: url("HomeBackground.png");
	background-size: 100%;
}

body{
	padding-top: 100px;
}

section.section1{
	padding-top:50px;
}

#section2{
	display: none;
}

#colLeft{
	background-color: Transparent;
    background-repeat:no-repeat;
    border: 2px solid white;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#colMiddle{
	background-color: green;
}

#colRight{
	background-color: Transparent;
    background-repeat:no-repeat;
    border: 2px solid white;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

h1.titleFirstPage{
	font-family: "Helveica", Arial, sans-serif;
	text-align: center;
	color: white;
}

h1.titleSecondPage{
	font-family: "Helveica", Arial, sans-serif;
	font-size: 40px;
	text-align: center;
	color: white;
}

.col-centered{
    float: none;
    margin: 0 auto;

}

#searchButton{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 2px solid white;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

p.centeredText{
	text-align: center;
	color: white;
}

