body {
	padding-top: 200px
}
h1.title{
	font-family: "Helveica", Arial, sans-serif;
	text-align: center;
	color: white;
}

.col-centered{
    float: none;
    margin: 0 auto;

}

p.centeredText{
	text-align: center;
	color: white;
}

